# Binários
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binário compilado da aplicação
/tmp/
/dist/

# Ambiente
.env
.env.local
.env.*.local

# Go
*.test
*.out
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
